<p class="NewUsers-title">Welcome new user</p>
<section class="UsersNew">
    <%= form_with(url: "/users", method: "post") do %>
        <div class="Form-section">
            <p class="Input-label">
                 First name:
            </p>
            <%= text_field_tag "first_name", nil, autofocus: true,
                                                  placeholder: "First Name",
                                                  class: "Form-Input" %>
        </div>

        <div class="Form-section">
            <p class="Input-label">
                Last name:
            </p>
            <%= text_field_tag "last_name", nil,
                               placeholder: "Last Name",
                               class: "Form-Input" %>
        </div>

        <div class="Form-section">
            <p class="Input-label">
                Email ID:
            </p>
            <%= text_field_tag "email", nil,
                               placeholder: "email",
                               class: "Form-Input" %>
        </div>

        <div class="Form-section">
            <p class="Input-label">
                Password :
            </p>
            <%= password_field_tag "password", value = nil, class: "Form-input" %>
        </div>

        <div class="Form-section">
            <%= submit_tag "Sign-up!", class: "Form-submit" %>
        </div>
    <% end %>
</section>
