<section class="TodoSection">
       <div class="TodoSectionTitle">
          <p class="TodoSectionTitle-text"><%= section_title %></p>
          <p class="TodoSectionTitle-remainingCount"><%= todos.completed.count %> / <%= todos.count %> </p>
        </div>
        <ul>
        <% todos.each do |todo| %>
         <li class="TodoItem">
            <div class="TodoItem-container">

            <%= form_with(url: "todos/#{todo.id}", method: "put") do %>
              <input
              class="TodoItem-checkbox"
              name="completed"
              type="checkbox" <%= todo.completed ? "checked" : "" %>
              onclick="this.form.submit()"
              />

              <% end %>

            <p class='<%= todo.completed ? "TodoItem-completedText" : "" %>' >
            <%= todo.todo_text %>
            </p>

            <% if show_due_date %>
              <p class="TodoItem-dueDate"> <%= todo.due_date.to_s(:short) %> </p>
              <% end %>
            </div>
            <svg style="width:18px;height:18px" viewBox="0 0 24 24" class="TodoItem__DeleteButton">
              <path fill="currentColor"
                d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
            </svg>
            </li>
        <% end %>
        </ul>
</section>
